# Credenciales de conexion al servidor LiveKit
LIVEKIT_URL=wss://google-meet-avatar-vedb5dhw.livekit.cloud
LIVEKIT_API_KEY=APIZGtMJiZqYms2
LIVEKIT_API_SECRET=B2HIEBdepV5E1EJwbIV01s9RB8mbKG71jRJyblDYDzZ
